.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  min-height: 60vh;

  .icone{
    width: fit-content;
    height: fit-content;
    font-size: 150px;
  }
}
