<div class="container">
  <mat-card>
    <principal-header titulo="Agenda de Contatos" subtitulo="Gerencie seus clientes e seus pets" rotaBotaoVoltar="../">
    </principal-header>

    <mat-card-content class="mat-card-content">

      <mat-horizontal-stepper #stepper linear class="stepper-horizontal">

        <mat-step>
          <form [formGroup]="formCliente" class="form-step">
            <ng-template matStepLabel>Dados do Cliente</ng-template>

            <fieldset>
              <legend>
                <h4>
                  <mat-icon class="mat-icon-prefix" color="primary">person</mat-icon>
                  Informações de contato
                </h4>
              </legend>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Qual o WhatsApp do cliente?</mat-label>
                <input type="text" matInput mask="(00) 0000-0000 || (00) 0 0000-0000" formControlName="whatsApp"
                  required>
                <mat-error slot="start" *ngIf="formCliente.get('whatsApp').hasError('required')">Obrigatório.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Qual o Nome do cliente?</mat-label>
                <input type="text" matInput formControlName="nome" required>
                <mat-error slot="start" *ngIf="formCliente.get('nome').hasError('required')">Obrigatório.</mat-error>
              </mat-form-field>

            </fieldset>

            <fieldset formGroupName="endereco">
              <legend>
                <h4>
                  <mat-icon class="mat-icon-prefix" color="primary">home</mat-icon>
                  Informações de endereço
                  <span class="nao-obrigatorio">(Não obrigatório)</span>
                </h4>
              </legend>
              <mat-form-field appearance="outline" class="cinquenta-esquerda-width">
                <mat-icon matSuffix color="primary" class="buscar">search</mat-icon>
                <mat-label>Qual o CEP do cliente?</mat-label>
                <input matInput placeholder="Ex. 69313-035" formControlName="cep" type="text" mask="00000-000"
                  (blur)="buscarCep()">
                <mat-error slot="start">CEP inválido.</mat-error>
              </mat-form-field>

              <div class="mat-input-grupo">
                <mat-form-field appearance="outline" class="sessenta-width">
                  <mat-label>Qual o logradouro?</mat-label>
                  <input matInput placeholder="Ex. Rua Otávio Pinto César" formControlName="logradouro" type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="quarenta-width">
                  <mat-label>Qual o número?</mat-label>
                  <input matInput placeholder="Ex. 817" formControlName="numero" type="text">
                </mat-form-field>
              </div>

              <div class="mat-input-grupo">
                <mat-form-field appearance="outline" class="sessenta-width">
                  <mat-label>Qual o bairro?</mat-label>
                  <input matInput placeholder="Ex. Cidade Nova" formControlName="bairro" type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="quarenta-width">
                  <mat-label>Qual o complemento?</mat-label>
                  <input matInput placeholder="Ex. AP 23" formControlName="complemento" type="text">
                </mat-form-field>
              </div>

              <div class="mat-input-grupo">
                <mat-form-field appearance="outline" class="setenta-width">
                  <mat-label>Qual a cidade?</mat-label>
                  <input matInput placeholder="Ex. São José do Rio Preto" formControlName="cidade" type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="trinta-width">
                  <mat-label>Qual o estado?</mat-label>
                  <input matInput placeholder="Ex. SP" formControlName="estado" type="text">
                </mat-form-field>
              </div>
            </fieldset>

            <mat-card-actions align="end">
              <button mat-stroked-button (click)="avancarStep(stepper)" color="primary">Próximo</button>
            </mat-card-actions>

          </form>
        </mat-step>

        <mat-step>
          <form [formGroup]="formCliente" class="form-step">
            <ng-template matStepLabel>Dados dos Pets</ng-template>

            <fieldset formGroupName="pet">
              <legend>
                <h4>
                  <mat-icon class="mat-icon-prefix" color="primary">pets</mat-icon>
                  Informações do Pet
                </h4>
              </legend>

              <div class="tipo-pet">
                <h4>Qual é o Pet?</h4>
                <mat-radio-group required formControlName="tipoPet">
                  <mat-radio-button [value]="0" style="margin-right: 20px;"><img width="120"
                      src="assets/imagens/cachorro.png" checked="true"></mat-radio-button>
                  <mat-radio-button [value]="1" style="margin-left: 20px;"><img width="120"
                    src="assets/imagens/gato.png"></mat-radio-button>
                </mat-radio-group>
              </div>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Qual o nome do pet?</mat-label>
                <input type="text" matInput formControlName="nome" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Qual o porte e pêlo do pet?</mat-label>
                <mat-select required formControlName="idPetCaracteristica">
                  <mat-option *ngFor="let petCaracteristica of petCaracteristicas" [value]="petCaracteristica.id">
                    {{petCaracteristica.petCaracteristica}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-card-actions align="end">
                <button mat-raised-button matStepperNext color="primary" (click)="adicionarOuAlterarContato()">SALVAR</button>
              </mat-card-actions>

            </fieldset>

          </form>
        </mat-step>
      </mat-horizontal-stepper>

    </mat-card-content>

  </mat-card>
</div>
