<div class="container">

  <mat-toolbar>
    <img src="../../../assets/imagens/logo-250px.png" width="200px;">
  </mat-toolbar>

  <div class="pagina-inicio">
    <div class="fundo-opacidade"></div>
  </div>

  <div class="conteudo">

    <h1>É muito bom ter você aqui no PetzGo.</h1>
    <h3>Experimente 7 dias grátis e se surpreenda!</h3>
    <mat-vertical-stepper [linear]="true" #stepper>

      <mat-step [stepControl]="empresa">
        <form [formGroup]="empresa" class="form">
          <ng-template matStepLabel>Sobre a empresa</ng-template>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Qual seu tipo de negócio?</mat-label>
            <mat-select required formControlName="tipoNegocioId">
              <mat-option *ngFor="let tipoNegocio of tiposNegocios | async" [value]="tipoNegocio.id">
                {{tipoNegocio.nomeTipoNegocio}}
              </mat-option>
            </mat-select>
            <mat-error slot="start" *ngIf="empresa.get('tipoNegocioId').hasError('required')">Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Qual o CNPJ da empresa?</mat-label>
            <input matInput placeholder="Ex. 65.357.005/0001-11" required formControlName="cnpj" type="text"
              mask="00.000.000/0000-00">
            <mat-error slot="start" *ngIf="empresa.get('cnpj').hasError('digit')">CNPJ inválido</mat-error>
            <mat-error slot="start" *ngIf="empresa.get('cnpj').hasError('required')">Campo obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Qual o nome da sua empresa?</mat-label>
            <input matInput placeholder="Ex. PetzGo" required formControlName="nomeFantasia">
            <mat-error slot="start" *ngIf="empresa.get('nomeFantasia').hasError('required')">Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Qual o WhatsApp da empresa? </mat-label>
            <input matInput placeholder="Ex. (17) 9 9999-9999 ou (17) 9999-9999" required formControlName="whatsApp"
              mask="(00) 0000-0000 || (00) 0 0000-0000">
            <mat-error slot="start" *ngIf="empresa.get('whatsApp').hasError('required')">Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-card-actions>
            <button mat-stroked-button matStepperNext color="primary">Próximo</button>
          </mat-card-actions>

        </form>
      </mat-step>

      <mat-step [stepControl]="endereco" label="Seu endereço">

        <form [formGroup]="endereco" class="form">
          <mat-form-field appearance="fill" class="full-width">
            <mat-icon matSuffix color="primary" class="buscar">search</mat-icon>
            <mat-label>Qual o CEP da sua empresa?</mat-label>
            <input matInput placeholder="Ex. 69313-035" required formControlName="cep" type="text" mask="00000-000"
              (blur)="buscarCep()">
            <mat-error slot="start" *ngIf="endereco.get('cep').hasError('incorreto')">CEP inválido.</mat-error>
          </mat-form-field>

          <div *ngIf="cepEncontrado">

            <div class="mat-input-grupo">
              <mat-form-field appearance="fill" class="setenta-width">
                <mat-label>Qual o logradouro?</mat-label>
                <input matInput placeholder="Ex. Rua Otávio Pinto César" required formControlName="rua" type="text">
                <mat-error slot="start" *ngIf="endereco.get('rua').hasError('required')">Campo obrigatório
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="trinta-width">
                <mat-label>Qual o número?</mat-label>
                <input matInput placeholder="Ex. 817" required formControlName="numero" type="text">
                <mat-error slot="start" *ngIf="endereco.get('numero').hasError('required')">Campo obrigatório
                </mat-error>
              </mat-form-field>
            </div>

            <div class="mat-input-grupo">
              <mat-form-field appearance="fill" class="setenta-width">
                <mat-label>Qual o bairro?</mat-label>
                <input matInput placeholder="Ex. Cidade Nova" required formControlName="bairro" type="text">
                <mat-error slot="start" *ngIf="endereco.get('bairro').hasError('required')">Campo obrigatório
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="trinta-width">
                <mat-label>Qual o complemento?</mat-label>
                <input matInput placeholder="Ex. AP 23" formControlName="complemento" type="text">
              </mat-form-field>
            </div>

            <div class="mat-input-grupo">
              <mat-form-field appearance="fill" class="setenta-width">
                <mat-label>Qual a cidade?</mat-label>
                <input matInput placeholder="Ex. São José do Rio Preto" required formControlName="cidade" type="text">
                <mat-error slot="start" *ngIf="endereco.get('cidade').hasError('required')">Campo obrigatório
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="trinta-width">
                <mat-label>Qual o estado?</mat-label>
                <input matInput placeholder="Ex. SP" required formControlName="estado" type="text">
                <mat-error slot="start" *ngIf="endereco.get('estado').hasError('required')">Campo obrigatório
                </mat-error>
              </mat-form-field>
            </div>

          </div>

          <mat-card-actions>
            <button mat-flat-button matStepperPrevious>Voltar</button>
            <button mat-stroked-button matStepperNext color="primary" class="btn-proximo"
              *ngIf="cepEncontrado">Próximo</button>
          </mat-card-actions>
        </form>
      </mat-step>

      <mat-step [stepControl]="login" label="Informações de login">
        <form [formGroup]="login" class="form">

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Qual e-mail utilizará para login?</mat-label>
            <input matInput placeholder="Ex. seuemail@dominio.com.br" required formControlName="email" type="email">
            <mat-error slot="start" *ngIf="login.get('email').hasError('email')">E-mail inválido.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Qual senha utilizará?</mat-label>
            <input matInput required formControlName="senha" [type]="esconderSenha ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="esconderSenha = !esconderSenha"
              [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="esconderSenha">
              <mat-icon>{{esconderSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Mínimo 4 dígitos</mat-hint>
            <mat-error slot="start" *ngIf="login.get('senha').hasError('minlength')">Senha deve conter no mínimo
              4 dígitos</mat-error>
          </mat-form-field>

          <mat-card-actions>
            <button mat-flat-button matStepperPrevious>Voltar</button>
            <button mat-raised-button matStepperNext color="primary" class="btn-proximo"
              (click)="criarEmpresa()">INICIAR
              TESTE GRATUITO</button>
          </mat-card-actions>

        </form>
      </mat-step>

    </mat-vertical-stepper>
  </div>

</div>
