<div class="container">
  <mat-card>
    <principal-header titulo="Agenda de Contatos" subtitulo="Gerencie seus clientes e seus pets"
      rotaBotaoNovo="detalhes" textoBotaoNovo="ADICIONAR CONTATO" rotaBotaoVoltar="/"></principal-header>

    <mat-card-content style="overflow: auto;">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nomeCliente">
          <th mat-header-cell *matHeaderCellDef> Contato </th>
          <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="whatsApp">
          <th mat-header-cell *matHeaderCellDef> WhatsApp </th>
          <td mat-cell *matCellDef="let element"> <a mat-button [href]="abrirWhatsApp(element.whatsApp)" target="_blank"
              class="btn-whatsApp" #tooltip="matTooltip"
              matTooltip="Iniciar conversa no WhatsApp">{{element.whatsApp}}</a></td>
        </ng-container>

        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef> Endereço </th>
          <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
        </ng-container>

        <ng-container matColumnDef="pet">
          <th mat-header-cell *matHeaderCellDef> Pet </th>
          <td mat-cell *matCellDef="let element"> <img [src]="obterImagemPet(element.tipoPet)" width="50px"
              #tooltip="matTooltip" matTooltip="{{element.tipoPet}}">
            {{element.nomePet}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">

            <div class="botoes-acoes">
              <button mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="Editar contato"
                style="margin-right: 10px;">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <mat-slide-toggle color="primary" [checked]="element.ativo" #tooltip="matTooltip"
                [matTooltip]="obterTooltipBotaoAtivarDesativar(element)" style="margin-left: 10px;"
                (click)="desativarAtivarContato(element)">
              </mat-slide-toggle>
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="exibicaoColunas"></tr>
        <tr mat-row *matRowDef="let row; columns: exibicaoColunas;"></tr>
      </table>

      <mat-paginator [length]="dataSource?.data?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-card-content>

  </mat-card>
</div>
