<div class="container">
  <mat-card>
    <principal-header titulo="Agenda de Contatos" subtitulo="Gerencie seus clientes e seus pets"
      [rotaBotaoNovo]="obterRotaBotaoNovo()" textoBotaoNovo="ADICIONAR CONTATO" rotaBotaoVoltar="/"></principal-header>

    <mat-card-content style="overflow: auto;">

      <div class="topo-pesquisa">
        <mat-form-field appearance="outline" class="pesquisa">
          <mat-label>Buscar contatos...</mat-label>
          <input matInput (keyup)="aplicarFiltro($event.target.value)">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Contato, whatsapp, endereço ou nome dos pets</mat-hint>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nomeCliente">
          <th mat-header-cell *matHeaderCellDef> Contato </th>
          <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="whatsApp">
          <th mat-header-cell *matHeaderCellDef> WhatsApp </th>
          <td mat-cell *matCellDef="let element"> <a mat-button [href]="abrirWhatsApp(element.whatsApp)" target="_blank"
              class="btn-whatsApp" #tooltip="matTooltip" matTooltipPosition="below"
              matTooltip="Iniciar conversa no WhatsApp">{{element.whatsApp}}</a></td>
        </ng-container>

        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef> Endereço </th>
          <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
        </ng-container>

        <ng-container matColumnDef="pet">
          <th mat-header-cell *matHeaderCellDef> Pet </th>
          <td mat-cell *matCellDef="let element">
            <div class="img-pet" #tooltip="matTooltip" matTooltip="{{element.tipoPet}}" matTooltipPosition="left">
              <img [src]="obterImagemPet(element.tipoPet)" width="40px" style="margin-right: 5px;">
              {{element.nomePet}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">

            <div class="botoes-acoes">
              <button mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="Editar contato"
                style="margin-right: 10px;" [routerLink]="['./', element.id]">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <!--<mat-slide-toggle color="primary" [checked]="element.ativo" #tooltip="matTooltip"
                [matTooltip]="obterTooltipBotaoAtivarDesativar(element)" style="margin-left: 10px;"
                (click)="desativarAtivarContato(element)">
              </mat-slide-toggle>-->
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="exibicaoColunas"></tr>
        <tr mat-row *matRowDef="let row; columns: exibicaoColunas;"></tr>
      </table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>

    </mat-card-content>

  </mat-card>
</div>
