.container{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 93.4vh;
  align-items: center;

  .topo-pesquisa{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .pesquisa{
      width: 320px;
    }

  }
}

mat-card{
  display: flex;
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  min-height: 80vh;
}

principal-header{
  width: 100%;
}

mat-card-content{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.btn-novo{
  margin: 10px 5px 10px 5px;
}

.botoes-acoes{
  display: flex;
  justify-content: end;
  align-items: center;
}

table{
  width: 100%;
}

.btn-whatsApp{
  text-decoration: underline;
}

.img-pet{
  display: flex;
  align-items: center;
}


@media (max-width: 600px){
  mat-card{
    width: 100% !important;
    margin: 0px;
  }
}

